body{
			margin: 0;
			padding: 0;
		}

		a{
			text-decoration: none;
		}

	

		.main{
			width: 100%;
			margin: auto;
			/*border: 2px solid black;*/
			height: 90px;
			background: black;
			display: flex;
			justify-content: space-around;
			align-items: center;
			
		}
		.header-span{
					font-family: "BBText Bold",Helvetica,Arial,sans-serif;
					text-transform: uppercase;
					padding: 3px 7px 0;
    				font-size: 11px;
    				color: white;
    				letter-spacing: 2px;
    				font-weight: 700;
    				/*border: 2px solid red;*/
    				padding-bottom: 20px;
    				cursor: pointer;

		}
		.header-img{
			width: 350px;
			/*border: 2px solid green;*/
			cursor: pointer;
		}
		
		.header-icon img{
				/*background: red;*/
				height: 20px;
				cursor: pointer;

		}
		.header-icon{
			/*border: 1px solid teal;*/
			display: flex;
			justify-content: space-between;
			width: 250px;

		}

		.main2{
			width: 100%;
			margin: auto;
			/*border: 2px solid teal;*/
			height: 50px;
			background: black;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		

		.header-span-list{
			width: 60%;
			height: 50px;
			display: flex;
			margin-left: -150px;
			justify-content: space-between;
			/*align-items: center;*/
			/*border: 2px solid yellow;*/
			margin-right: 100px;
			z-index: 999;
		}
		.header-span-list span{
					font-family: "BBText Bold",Helvetica,Arial,sans-serif;
					text-tradiv_hovernsform: uppercase;
    				font-size: 1vw;
    				color: white;
    				display: flex;
    				align-items: center;
    				letter-spacing: 1px;
    				text-transform: uppercase;
    				cursor: pointer;
    				/*border: 2px solid green;*/
		}
		.header-span-list span:hover{
					text-decoration: underline;
		}

		.hoverdiv1{

					/*border: 2px solid green;*/
					width: 100%;
					height: auto;
					position: absolute;
					left: 1px;
					top: 140px;
					z-index: 99;
					visibility: hidden;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					/*grid-gap: 20px;*/
					background: white;
					justify-content: space-between;
					/*padding-left: 20px;*/
					/*padding-top: 20px;*/
					padding: 30px 35px;
					/*transition-delay: 0.5s;*/
		}

		
		.hoverdiv1 img{
			width: 300px;
			height: 150px;
			/*margin: 30px;*/

		}

		.hoverdiv1 p{
			padding-top: 20px;
			font-weight: 600;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			font-size: 1vw ;
			color: black;
		}


		.header-span-list #span1:hover .hoverdiv1{
			visibility: visible;
			text-decoration: underline;
		}
		.hoverdiv2{

					/*border: 2px solid red;*/
					width: 100%;
					position: absolute;
					left: 1px;
					top: 140px;
					z-index: 99;
					visibility: hidden;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					/*grid-gap: 20px;*/
					background: white;
					justify-content: space-between;
					/*padding-left: 20px;*/
					/*padding-top: 20px;*/
					padding: 30px 35px;
		}

		.hoverdiv2 img{
			width: 300px;
			height: 220px;
			/*margin: 30px;*/

		}

		.hoverdiv2 p{
			position: relative;
			padding-top: 20px;
			font-weight: 600;
			display: flex;
			justify-content: center;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			font-size: 1vw ;
			color: black;
		}


		.header-span-list #span2:hover .hoverdiv2{
			visibility: visible;
			text-decoration: underline;


		}

		.hoverdiv3{

					/*border: 2px solid green;*/
					width: 100%;
					height: auto;
					position: absolute;
					left: 1px;
					top: 140px;
					z-index: 99;
					visibility: hidden;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					/*grid-gap: 20px;*/
					background: white;
					justify-content: space-between;
					/*padding-left: 20px;*/
					/*padding-top: 20px;*/
					padding: 30px 35px;
					/*transition-delay: 0.5s;*/
		}

		
		.hoverdiv3 img{
			width: 300px;
			height: 150px;
			/*margin: 30px;*/

		}

		.hoverdiv3 p{
			padding-top: 20px;
			font-weight: 600;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			font-size: 1vw ;
			color: black;
		}


		.header-span-list #span3:hover .hoverdiv3{
			visibility: visible;
			text-decoration: underline;
		}

		.hoverdiv4{

					/*border: 2px solid green;*/
					width: 100%;
					height: auto;
					position: absolute;
					left: 1px;
					top: 140px;
					z-index: 99;
					visibility: hidden;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					/*grid-gap: 20px;*/
					background: white;
					justify-content: space-between;
					/*padding-left: 20px;*/
					/*padding-top: 20px;*/
					padding: 30px 35px;
					/*transition-delay: 0.5s;*/
		}

		
		.hoverdiv4 img{
			width: 300px;
			height: 150px;
			/*margin: 30px;*/

		}

		.hoverdiv4 p{
			padding-top: 20px;
			font-weight: 600;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			font-size: 1vw ;
			color: black;
		}


		.header-span-list #span4:hover .hoverdiv4{
			visibility: visible;
			text-decoration: underline;
		}

		.hoverdiv5{

					/*border: 2px solid green;*/
					width: 100%;
					height: auto;
					position: absolute;
					left: 1px;
					top: 140px;
					z-index: 99;
					visibility: hidden;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					/*grid-gap: 20px;*/
					background: white;
					justify-content: space-between;
					/*padding-left: 20px;*/
					/*padding-top: 20px;*/
					padding: 30px 35px;
					/*transition-delay: 0.5s;*/
		}

		
		.hoverdiv5 img{
			width: 300px;
			height: 150px;
			/*margin: 30px;*/

		}

		.hoverdiv5 p{
			padding-top: 20px;
			font-weight: 600;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			font-size: 1vw ;
			color: black;
		}


		.header-span-list #span5:hover .hoverdiv5{
			visibility: visible;
			text-decoration: underline;
		}

		.hoverdiv6{

					/*border: 2px solid green;*/
					width: 100%;
					height: auto;
					position: absolute;
					left: 1px;
					top: 140px;
					z-index: 99;
					visibility: hidden;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					/*grid-gap: 20px;*/
					background: white;
					justify-content: space-between;
					/*padding-left: 20px;*/
					/*padding-top: 20px;*/
					padding: 30px 35px;
					/*transition-delay: 0.5s;*/
		}

		
		.hoverdiv6 img{
			width: 300px;
			height: 150px;
			/*margin: 30px;*/

		}

		.hoverdiv6 p{
			padding-top: 20px;
			font-weight: 600;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			font-size: 1vw ;
			color: black;
		}

		.header-span-list #span6:hover .hoverdiv6{
			visibility: visible;
			text-decoration: underline;
		}
	

		.hoverdiv7{

					/*border: 2px solid green;*/
					width: 100%;
					height: auto;
					position: absolute;
					left: 1px;
					top: 140px;
					z-index: 99;
					visibility: hidden;
					display: grid;
					grid-template-columns: repeat(4, 1fr);
					/*grid-gap: 20px;*/
					background: white;
					justify-content: space-between;
					/*padding-left: 20px;*/
					/*padding-top: 20px;*/
					padding: 30px 35px;
					/*transition-delay: 0.5s;*/
		}

		
		.hoverdiv7 img{
			width: 300px;
			height: 150px;
			/*margin: 30px;*/

		}

		.hoverdiv7 p{
			padding-top: 20px;
			font-weight: 600;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			font-size: 1vw ;
			color: black;
		}


		.header-span-list #span7:hover .hoverdiv7{
			visibility: visible;
			text-decoration: underline;
		}
	

		.main2_box{
			border-bottom: 1px solid white;
			display: grid-row: ;
			justify-content: center;
			/*justify-content: space-between;*/
			align-items: center;
	

		}
		.main2_box img{
			/*background: red;*/
			height: 20px;

		}	
		.main2_box input{
			background: none;
			outline: none;
			border: none;
			text-transform: uppercase;
			font-size: 14px;
			color: white;
			width: 150px;
			padding-bottom: 5px;

			
		}

		.d-block{

				cursor: pointer;
		}
		

		#pointer-btn{
			width: 2px;
			/*padding: 10px;*/
			border-radius: 5px;
			border: 2px solid white;

		}
		.carousel-control-prev-icon{
			
		}

		.img_text{
			position: absolute;
			top: 50%;
			left: 50%;
			/*z-index: 999;*/
			/*background: red;*/
			text-align: center;
			transform: translate(-50%,-50%);
		}

		.img_text span{
			font-size: 4vw;
			font-family: "BBSans Regular",Helvetica,Arial,sans-serif;
    		/*line-height: .95;*/
    		letter-spacing: 1.5px;
    		color: white;
    		text-transform: uppercase;
    		cursor: pointer;

		}

		.img_text p{
			color: white;
			cursor: pointer;
			font-size: 1.5vw;
		}

		.img_text button{
				color: white;
				background: black;
				border: none;
				font-size: 1vw;
				padding: 5px;
				font-weight: 600;
		}

		.sign_div_hover{
			height: 450px;
			width: 400px;
			/*border: 2px solid red;*/
			position: absolute;
			top: 80px;
			left: 50px;
			z-index: 999;
			visibility: hidden;
			background: white;
		}

		.sign_div:hover .sign_div_hover{
			visibility: visible;
		}

		.sign_div_hover:before{
			content: " ";
			position: absolute;
			width: 30px;
			height: 30px;
			background: #fff;
			top: -10px;
			left: 90px;
			transform: rotate(45deg);
		}
		
		.sign_p_1{
			font-family: "BBSans Regular",Helvetica,Arial,sans-serif;
    		font-size: 26px;
    		padding-left: 40px;
    		padding-top: 20px;

		}

		.sign_p_2{
			margin-bottom: 25px;
    		font-weight: 700;
    		color: #1b1b1b;
    		line-height: 1;
    		letter-spacing: 2px;
    		padding-left: 40px;
    		padding-top: 20px;
    		padding-right: 20px;
    		letter-spacing: 2;
    		font-size: 16px;
    		font-family: "BBText Bold",Helvetica,Arial,sans-serif;

		}
		.sign_p{
			padding-left: 40px;
			padding-right: 20px;
		}

		.sign_div_hover select{
			width: 150px;
			height: 40px;
			border-color: black;
			font-weight: 600;
		}
		.sign_inp{
			margin-left: 40px;
			padding: 7px;
			border-color: black;
			width: 20pc;
			text-align: center;
			color: black;
			font-weight: 600;
		}
		
		.sign_input{
			display: flex;
			/*border: 2px solid red;*/
			padding: 10px;
			margin: 10px;
			width: 350px;
			margin-left: 20px;
			justify-content: space-between;

		}
		.sign_btn{
			padding: 8px;
			width: 300px;
			align-items: center;
			margin-left: 40px;
			border: none;
			background: black;
			color: white;
			text-transform: uppercase;
			font-family: sans-serif;
		}

		.sign_btn:hover{
			background: #ff4661;
		}

		.login_hover_main{
			/*border: 2px solid green;*/
			height: 600px;
			width: 400px;
			position: absolute;
			top: 70px;
			right: 80px;
			z-index: 999;
			visibility: hidden;
			background: white;
		}

		.login_hover{
			height: 80%; 
			width: 350px;
			/*border: 2px solid red;*/
			margin: auto;
			margin-top: 20px;
			/*visibility: hidden;*/
			background: white;
		}

		.header-icon #user_icon:hover .login_hover_main{
			visibility: visible;
		}
		#user_icon img{
			margin-top: -2px;
		}

		.login_hover_main:before{
			content: " ";
			position: absolute;
			width: 30px;
			height: 30px;
			background: #fff;
			top: -11px;
			right: 35px;
			transform: rotate(45deg);
		}

		.login_hover_p1{
				letter-spacing: 2px;
    			font-size: 15px;
    			font-weight: 600;
    			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
		}
		.login_hover_p2{
			text-decoration: underline;
		}

		.login_hover_input{
			width: 100%;
			padding: 5px;
			margin-top: 10px;
			/*border-color: black;*/
			border: 1px solid black;
		}

		.login_hover_btn_1{
			width: 100%;
			height: 40px;
			border: none;
			background: black;
			color: white;
			font-weight: 600;
		}
		.login_hover_btn_1:hover{
			background: #ff4661;

		}
		.login_hover_btn_2{
			width: 90%;
			height: 40px;
			position: relative;
			top: 26px;
			left: 21px;
			border: none;
			background: white;
			font-size: 20px;
			font-weight: 600;
		}
		.login_hover_btn_2:hover{
			background: grey;
			color: white;
		}
		.bottom_hover_div p{
			color: white;
			position: absolute;
			left: 20px;
		}
		.bottom_hover_div{
			width: 100%;
			height: 100px;
			background: black;
			position: relative;
		}
		.login_hover_img{
			width: 300px;
			padding-left: 60px;			
		}
		.ham{
			/*background: red;*/
			font-size: 30px;
			color: white;
			display: none;
		}

		.show{
		display: none;
		color: white;
	}

		@media screen and (max-width: 800px){

		.header-span-list{
			width: 60%;
			height: 50px;
			display: flex;
			margin-left: -150px;
			justify-content: space-between;
			/*align-items: center;*/
			/*border: 2px solid yellow;*/
			margin-right: 100px;
			z-index: 999;
			position: relative;
			left: 80px;
		}

		.sign_div_hover{

			/*position: relative;*/
			left: -10px;

		}

		.login_hover_main{
			/*visibility: visible;*/
			right: 10px;
		}

		
	}


	@media screen and (max-width: 1000px){

		/*.hoverdiv1 , .hoverdiv2{
			width: 100%;
			/*border: 2px solid red;*/
		/*}*/*/

			.hoverdiv1 div{
				margin: 10px;
				width: 100px; 
			}
			.hoverdiv1 img{
				width: 200px;
				height: 100px;
			}

	}


	@media screen and (max-width: 1280px){

		/*.hoverdiv1 , .hoverdiv2{
			width: 100%;
			/*border: 2px solid red;*/
		/*}*/*/

			.hoverdiv1 div{
				margin: 10px;
				width: 100px; 
			}
			.hoverdiv1 img{
				width: 250px;
				height: 150px;
			}

	}

	@media screen and (max-width: 900px){

		/*.hoverdiv1 , .hoverdiv2{
			width: 100%;
			/*border: 2px solid red;*/
		/*}*/*/

			.hoverdiv1 div{
				width: 100px; 
				/*position: absolute;*/
				left: 1px;
			}
			.hoverdiv1 img{
				width: 100px;
				height: 50px;
			}

	}


	@media screen and (max-width: 1200px){

		/*.hoverdiv1 , .hoverdiv2{
			width: 100%;
			/*border: 2px solid red;*/
		/*}*/*/

			.hoverdiv1 div{
				width: 100px; 
				/*position: absolute;*/
				left: 1px;
			}
			.hoverdiv1 img{
				width: 150px;
				height: 90px;
			}

	}

		@media screen and (max-width: 800px){

		.hoverdiv1{
			width: 800px;
			/*border: 2px solid red;*/
			position: absolute;
			left: -250px;
			top: 50px;
		}

			.hoverdiv1 div{
				width: 100px; 
				/*position: absolute;*/
				/*left: 1px;*/
			}
			.hoverdiv1 img{
				width: 100px;
				height: 50px;
			}

	}



.sideBr{
		position: fixed;
		background-color: black;
		height: 100vh;
		width: 00%;
		top: 0;
		left: 0;
		z-index: 99999;
		display: flex;
		flex-direction: column;
		visibility: hidden;
		transition: 0.2s ease;
	}
	
	.sideBr.sactive{
		width: 100%;
		visibility: visible;
	}
	.sideBr .co_ham{
		height: 20px;
		width: 20px;
		/*background: red;*/
		position: absolute;
		color: white;
		right: 0;
		top: 5px;
		z-index: 9999;
		cursor: pointer;
	}
		@media screen and (max-width: 750px){

		.header-span{
			display: none;
		}
		/*.header-icon{
			display: none;-
		}*/
		.header-img{	
			width: 200px;
			height: 30px;
		}
		.ham{
			display: block;
		}

		.user_icon2{
			display: none;
		}
		.header-icon{
			width: 50px;
		}
		.header-span-list{
			display: none;
		}

		.show{
			display: block;
			position: absolute;
			left: 10px;

		}
		.show span{
			/*margin-left: 15px;*/

		}

		.main2_box{
			/*background: red;*/
			position: relative;
			left: 100px;
			border: none;
		}



		
	}

