#container{
    display: flex;
    width:80%;
    margin:auto;
    height: 400px;
}
#first{
    margin-left: 10px;
    width: 100%;
    height: auto;
    line-height: 0px;
}
#second{
    margin-left:50px;
    height: auto;
    width: 100%;
}
#header{
    width:80%;
    margin:auto;
}
h4{
    background-color: rgb(243,239,234) ;
    height:25px;
    padding:10px;
    border-bottom:1px solid grey;

}
#email,#pass{
    width:200px
}


h5{
    margin-left: 10px;
 }
a{
    color:red;
}
p{
    width: 500px;
}
#checkbox{
    display: flex;
    margin-left: 5px;
    width: 500px;
    height: auto;
}
#checkbox>p{
    margin-left:5px;  
}

input[type=submit]{
    background-color:black;
    color: white;
    border: 0;
    padding: 10px 20px;
    width: 150px;
    margin-top: 10px;
}
input[type=checkbox]{
    margin-top: 10px;
}
#submit{
    margin-top:135px;
}
i{
    margin-left: 10px;
    height:0px;
    width:10px
}

.condition-div{
    margin-top: 10px;
    margin-bottom: 10px;
    height: auto;
    
}
.last-div{
    height: 30px;
    margin-top: 20px;
}

