body{
			margin: 0;
			padding: 0;
		}
		.footer{
			position: relative;
			bottom: 0;
			width: 100%;
			height: auto;
			/*background: black;*/
			border: 1px solid black;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			background: black;
			transition: 0.2s ease;
		}
		.footer .bottombx{
			position: relative;
			/*background: blue;*/
			width: 100%;
			display: flex;
			justify-content: space-around;
			border-top: 2px solid white;
			color: white;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			/*align-items: center;*/
			/*flex-direction: column;*/
		}
		.footer .bottombx .text{
			position: relative;
			transition: 0.2s;
		}
		.footer .bottombx .text a{
			color: white;
			text-decoration: none;
		}
		.footer .bottombx .text:last-child{
			position: fixed;
			right: 20px;
			bottom: 10px;
			font-size: 50px;
			height: 60px;
			width: 60px;
			padding: 10px;
			color: white;
			border: 2px solid white;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			background: black;
		}
		.footer .bottombx .text:first-child{
			position: fixed;
			right: 20px;
			bottom: 120px;
			/*font-size: 50px;*/
			height: 30px;
			width: 80px;
			padding: 10px;
			cursor: pointer;
			color: white;
			border: 2px solid white;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			background: black;
		}
		.footer .box{
			position: relative;
			height: 60%;
			display: flex;
			/*border: 1px solid red;*/
			/*background: red;*/
			color: white;
			transition: 0.2s ease;
			/*flex-wrap: wrap;*/
		}
		.footer .box .box2{
			position: relative;
			height: 100%;
			width: 100%;
			/*border: 1px solid red;*/
			padding: 20px 40px;
		}
		.footer .box .box2 h3{
			position: relative;
			font-size: 20px;
			/*font-size: 16px;*/
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
		}
		.footer .box .box2 a{
			position: relative;
			font: 15px;
			text-decoration: none;
			color: white;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
		}
		.footer .box .box2 select{
			position: relative;
			width: 250px;
			padding: 10px 20px;
			border: 1px solid white;
			color: white;
			background: transparent;
		}
		.footer .box .box2 select option{
			position: relative;
			color: black;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
		}
		.footer .box .box2 .inputBx{
			position: relative;
			font-family: "BBText Bold",Helvetica,Arial,sans-serif;
			width: 100%;
			padding: 5px 0;
		}
		.footer .box .box2 .inputBx .label{
			position: relative;
			height: 0;
			overflow: hidden;
			transition: 0.2s ease;
			/*background: red;*/
		}
		.footer .box .box2 .inputBx input[type='text']::placeholder{
			color: white;
		}
		.footer .box .box2 .inputBx input[type='text']{
			width: 250px;
			height: 30px;
			background: transparent;
			border: 2px solid white;
			padding: 5px 10px;
			outline: none;
			color: white;
		}
		.footer .box .box2 .inputBx input[type='text']:focus ~ .label,
		.footer .box .box2 .inputBx input[type='text']:valid ~ .label{
			height: auto;
			transition: 0.2s;
			/*overflow: ;*/
		}
		.footer .box .box2 .inputBx input[type='submit']{
			padding: 10px 20px;
			border: 2px solid white;
			background: transparent;
			cursor: pointer;
			color: white;
		}
		.footer .box .box2 .inputBx a{
			position: relative;
			font-size: 30px;
			margin-right: 20px;
		}

		/*#*/
	@media screen and (max-width: 990px){
		.footer{
			padding: 20px 0;
		}
		.footer .box{
			flex-wrap: wrap;
			font-size: 25px;
		}
		.footer .box .box2 select{
			width: 95%;
			height: 80px;
			font-size: 30px;
		}
		.footer .box .box2 select option{
			width: 50%;
			font-size: 10px;
		}
		.footer .bottombx{
			flex-direction: column;
			align-items: center;
		}
		.footer .bottombx .text{
			text-align: center;
		}
		.footer .bottombx .text:last-child{
			position: absolute;
			right: 20px;
		}
		.footer .box .box2 .inputBx input[type='text']{
			width: 95%;
			font-size: 20px;
			height: 80px;
		}
		.footer .box .box2 .inputBx input[type='submit']{
			font-size: 25px;
			padding: 20px 50px;
		}
		.footer .box .box2 .inputBx a{
			font-size: 50px;
		}
	}

	/**/
	.chatBx{
		position: fixed;
		right: 0;
		bottom: 00px;
		height: 500px;
		width: 350px;
		z-index: 999;
		border: 1px solid white;
		display: none;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		background: white;
	}
	.chatBx.active{
		display: flex;
	}
	.chatBx .chatHead i{
		cursor: pointer;
		padding:  0 5px;
	}
	.chatBx .chatHead{
		position: relative;
		margin: 0;
		padding: 0;
		height: 50px;
		width: 100%;
		background: black;
		color: white;
		font-family: "BBText Bold",Helvetica,Arial,sans-serif;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.chatBx .chatBody{
		position: relative;
		height: 82%;
		width: 100%;
		background: white;
	}
	.chatBx .chatInput{
		position: relative;
		height: 6%;
		width: 100%;
		display: flex;
		align-items: center;
		background: white;
		/*justify-content: center;*/
	}
	.chatBx .chatInput i{
		position: absolute;
		cursor: pointer;
		padding:  0 5px;
	}
	.chatBx .chatInput input{
		height: 100%;
		width: 90%;
		border: 1px solid brown;
		padding: 0 25px;
	}
	.chatBx .chatInput input:placeholder{
		font-style: italic;;
	}